%% https://github.com/rabbitmq/rabbitmq-server/blob/master/docs/rabbitmq.config.example
[
  {
    rabbit,
      [
        { tcp_listeners, [ 5672 ] },
        { ssl_listeners, [ ] },
        { loopback_users, [] }
      ]
  },
  {
    rabbitmq_management,
      [
        { load_definitions, "/etc/rabbitmq/rabbit.json" },
        { listener, [
           { port, 15672 },
           { ssl, false }
         ]
       }
      ]
  }
].
