@import "~bootstrap/scss/bootstrap";

// Exemplo sobre Mixins, fornecido por https://blog.caelum.com.br/css-menos-sofrido-com-sass/:
// Crio um mixin com o '@' e dou um nome para ele :
@mixin desfoque {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
// Agora para incluir :
.painel img {
  @include desfoque;
  max-width: 100%;
}
// O CSS compilado ficará:
// .painel img {
//   -webkit-filter: blur(20px);
//   filter: blur(20px);
//   max-width: 100%;
// }
